/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
/* -----font-size------ */
.title-lv1{
    font-size: 64px;
}
.title-lv2{
    font-size: 32px;
}
.title-lv3{
    font-size: 20px;
}
.copy-lv1{
  font-size: 20px;
}
.text-lv1{
    font-size: 16px;
    line-height: 1.5em
}
/* -----font-size @media(767px)------ */
@media screen and (max-width:767px){
  .title-lv1{
    font-size: 40px;
}
.copy-lv1{
  font-size: 18px;
}
}
  
/* ------------header-------- */
header{
    height: 70px;
    background-color: #ec715f;
}
.header-box{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
}
.header-box img{
  height: 70px;
}
.header-box-text{
    margin: 0 0 0 auto;
}
.header-box-text nav{
    height: 100%;
}
.header-text{
    height: 100%;
    display: flex;
    align-items: center;
}
.bars{
  display: none;
}
.header-text-item{
    margin: 0 30px;
    color: #fafafa;
}
.header-text-item a{
    color:inherit;
    text-decoration: none;
}
/* ------------header @media(767px)-------- */
@media screen and (max-width:767px){
  header{
    height: 50px;
  }
  .header-box{
    width: 90%;
  }
  .header-box img{
    height: 50px;
  }
  .header-text-item{
    display: none;
  }
  .bars{
    display: block;
    margin: 5px 0;
    font-size: 40px;
    color: #fafafa;
  }
}
/* ------------main-------- */
.main-back{
  height: 650px;
  background-image: url(img/mv.png);
  background-position: center;
  background-size: cover;
}
.main-copy{
  text-align: center;
  padding-top: 200px;
  color: #fafafa;
}
.main-text{
  padding-top: 10px;
}
/* ------------main @media(767px)-------- */
@media screen and (max-width:767px){
  .main-back{
    background-image: url(img/code.png);
  }
}

/* ------------各contentで使用-------- */
.content-title{
  text-align: center;
  padding-top: 90px;
}
.content-line{
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}
.content-text{
  text-align: center;
  padding-top: 30px;
}

/* ------------portfolio-------- */
#portfolio{
  background-color: #eceff1;
}
.portfolio-back{
  max-width: 920px;
  margin: 0 auto;
}
.portfolio-box{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px 0 90px 0;
}
.portfolio-image{
  width: 300px;
  height: 250px;
  background-color: aqua;
}
.portfolio-image:first-child{
  background-image: url(img/sketch.jpg);
  background-position: center;
  background-size: cover;
}
.portfolio-image:nth-child(2){
  background-image: url(img/websuku.png);
  background-position: center;
  background-size: cover;
}
.portfolio-image:nth-child(3){
  background-image: url(img/write.jpg);
  background-position: center;
  background-size: cover;
}
.portfolio-image:nth-child(4){
  background-image: url(img/webcamp.png);
  background-position: center;
  background-size: cover;
}
.portfolio-image:nth-child(5){
  background-image: url(img/talk.jpg);
  background-position: center;
  background-size: cover;
}
.portfolio-image:nth-child(6){
  background-image: url(img/webcamp-mother.png);
  background-position: center;
  background-size: cover;
}
/* ------------portfolio @media(767px)-------- */
@media screen and (max-width:767px){
  .portfolio-back{
    width: 90%;
  }
  .portfolio-box{
    display: block;
    margin: 0 auto;
  }
  .portfolio-image:first-child{
    height: 0px;
  }
  .portfolio-image:nth-child(3){
    height: 0px;
  }
  .portfolio-image:nth-child(5){
    height: 0px;
  }
  .portfolio-image:nth-child(2),  .portfolio-image:nth-child(4){
    margin: 0 auto 10px auto;
  }
  .portfolio-image:nth-child(6){
    margin: 0 auto;
  }
}

/* ------------feature-------- */
.feature-back{
  max-width: 980px;
  margin: 0 auto;
}
.feature-box{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px auto 90px auto;
}
.feature-content{
  width: 320px;
}
/* .feature-content-icon{
  margin: 0 auto;
} */
.feature-content i{
  display: block;
  margin: 0 auto;
  width: 60px;
}
.icon-size{
  font-size: 60px;
}
.feature-content-title{
  text-align: center;
  margin-top: 10px;
}
.feature-content-text{
  margin-top: 10px;
}
/* ------------feature @media(767px)-------- */
@media screen and (max-width:767px){
  .feature-back{
    width: 90%;
  }
  .feature-content{
    margin: 0 auto;
  }
}

/* ------------profile-------- */
#profile{
  background-color: #eceff1;
}
.profile-back{
  max-width: 1024px;
  margin: 0 auto;
}
.profile-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-bottom: 90px;
}
.profile-content-box{
  width: 512px;
}
.profile-image{
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url(img/my-icon.jpg);
  background-position: center;
  background-size: cover;
}
.profile-skills-title{
  padding-top: 20px;
}
.profile-name-text .profile-skills-text{
  padding-top: 5px;
}
/* ------------profile @media(767px)-------- */
@media screen and (max-width:767px){
  .profile-back{
    width: 90%;
  }
  .profile-content-box{
    margin: 0 auto;
  }
  .profile-name-title{
    padding-top: 20px;
  }
  .profile-content-box{
    text-align: center;
  }
}

/* ------------contact-------- */
.contact-back{
  max-width: 800px;
  margin: 0 auto;
}
.contact-content{
  display: flex;
  margin: 30px auto 90px auto;
}
.contact-content-box{
  width: 400px;
}
.contact-tel-title{
  margin-top: 20px;
}
.contact-mail-text .contact-tel-text{
  margin-top: 5px;
}
.contact-address-box{
  display: table;
  margin: 0 auto;
}
.contact-address-box a{
  color: #000;
}
.contact-sns-box{
  display: table;
  margin: 0 auto;
}
.contact-sns-box i{
  font-size: 50px;
  margin-right: 20px;
}
.contact-sns-box i:last-child{
  margin-right: 0px;
}
.sns{
  margin-bottom: 5px;
}
/* ------------contact @media(767px)-------- */
@media screen and (max-width:767px){
  .contact-back{
    width: 90%;
  }
  .contact-content-box{
    margin: 0 auto;
  }
  .contact-content{
    display: block;
  }
  .contact-address-box{
    text-align: center;
  }
  .sns{
    text-align: center;
    margin: 20px auto 5px auto;
  }
  .contact-sns-box i{
    margin-right: 8px;
  }
}

/* ------------footer-------- */
footer{
  background-color: #ec715f;
  color: #fafafa;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}